<div class="container mt-5">
  <nav class="row">
    <div class="nav-wrapper">
      <span class="brand-logo center">{{config?.title | uppercase}}</span>
    </div>
  </nav>
  <div class="content">
    <div class="row">
      <button class="btn col s2 offset-s10">Dodaj zadanie
      </button>
      <button class="btn col s2 offset-s10">Zakończ
      </button>
    </div>

    <!-- Sekcja dodawania nowego zadania -->
    <div class="row">
      <input class="col s8" type="text"
             placeholder="Dodaj zadanie i datę wykonania"
             #nameInput/> <!-- tworzymy lokalną referencję -->

      <!-- dodajemy referencję #dateInput -->
      <input class="col s2 disabled" type="date" #dateInput/>
      <!-- dodajemy metodę (click) z metodą createTask() -->
      <!-- przesyłamy wartość z pola input odwołujać się do #nameInput -->
      <!-- drugimm wyrażeniem, czyścimy pole input -->
      <!-- przesyłamy wartość z pola date odwołujać się do #dateInput i czyścimy pole-->
      <button class="btn-floating"
              (click)="createTask(nameInput.value, dateInput.value);
                   nameInput.value = '';
                   dateInput.value = '' ">+
      </button>
    </div>

    <ul class="collection">
      <li class="collection-item row" *ngFor="let task of tasks; let i = index">
          <span class="col s10">
            {{i + 1}}. {{ task.name }} - {{task.deadline |  date: 'd.MM EEEE':'':'pl'}}
          </span>
        <div class="col s2 right-align">
          <button class="btn-floating btn-small red mr-5">
            <i class="material-icons">remove</i>
          </button>
          <button class="btn-floating btn-small green">
            <i class="material-icons">check</i>
          </button>
        </div>
      </li>
      <li class="collection-item row">
        <span class="col done">Sprzątnie strychu</span>
      </li>
    </ul>

    <h1>Dzisiaj brak zadań :-)</h1>

    <!-- Dodajemy event (click) i przypisujemy metodę clearTasks -->
    <button class="btn red" (click)="clearTasks()">
      Wyczyść
    </button>
  </div>

  <footer class="page-footer mt-5">
    <div class="footer-copyright">
      <div class="container">{{config?.date | date: 'yyy'}} {{config?.footer}}</div>
    </div>
  </footer>
</div>
